### Protótipo da etl, verificando manualmente cada coluna para aplicar posteriormente no código python

In [18]:
import pandas as pd

df_empresa = pd.read_csv(r'../../data/csv/raw/EmpresasInativas.csv', index_col=0)
df_colunas= pd.read_csv(r'../../data/csv/raw/EmpresaCampos.csv', index_col=0)

dataframe_empresa = df_empresa.copy()
colunas_dataframe = df_colunas.copy()

pd.set_option('display.max_columns', None)   
pd.set_option('display.max_rows', None)      
pd.set_option('display.width', 300)         
pd.set_option('display.max_colwidth', None) 
pd.set_option('display.float_format', '{:.2f}'.format)  

display(dataframe_empresa.head())

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22
0,220,35319136000143,COMERCIAL ATACADISTA DE ALIMENTOS SAO JORGE LTDA,ATACADO SAO JORGE,25577,Rua Expedicionário Francisco Vitoriano,50,50,884,COHAB,BAIXADO,1990-05-02T00:00:00,2022-07-07T00:00:00,26,OUTRAS ATIVIDADES VAREJISTAS,4712100,"COM VAR DE MERC EM GERAL, COM PREDOM DE PROD ALIM - MINIMERC, MERC E ARMAZÉNS",S,N,N,N,-8.14,-34.95
1,221,35319136000143,COMERCIAL ATACADISTA DE ALIMENTOS SAO JORGE LTDA,ATACADO SAO JORGE,25577,Rua Expedicionário Francisco Vitoriano,50,50,884,COHAB,BAIXADO,1990-05-02T00:00:00,2022-07-07T00:00:00,26,OUTRAS ATIVIDADES VAREJISTAS,4772500,"COMÉRCIO VAREJISTA DE COSMÉTICOS, PRODUTOS DE PERFUMARIA E DE HIGIENE PESSOAL",N,S,N,N,-8.14,-34.95
2,222,20352255000120,DESALIEL VIEIRA DA SILVA ME,VIEIRA & SOUSA,25577,Rua Expedicionário Francisco Vitoriano,50,50,884,COHAB,BAIXADO,2014-05-30T00:00:00,2016-01-01T00:00:00,26,OUTRAS ATIVIDADES VAREJISTAS,4751201,Comercio varejista especializado de equipamentos e suprimentos de informatica,N,N,N,N,-8.14,-34.95
3,223,20352255000120,DESALIEL VIEIRA DA SILVA ME,VIEIRA & SOUSA,25577,Rua Expedicionário Francisco Vitoriano,50,50,884,COHAB,BAIXADO,2014-05-30T00:00:00,2016-01-01T00:00:00,26,OUTRAS ATIVIDADES VAREJISTAS,4761003,COMÉRCIO VAREJISTA DE ARTIGOS DE PAPELARIA,N,N,N,N,-8.14,-34.95
4,224,20352255000120,DESALIEL VIEIRA DA SILVA ME,VIEIRA & SOUSA,25577,Rua Expedicionário Francisco Vitoriano,50,50,884,COHAB,BAIXADO,2014-05-30T00:00:00,2016-01-01T00:00:00,26,OUTRAS ATIVIDADES VAREJISTAS,4741500,COMÉRCIO VAREJISTA DE TINTAS E MATERIAIS PARA PINTURA,N,N,N,S,-8.14,-34.95

### Antes de fazer a análise, eu preciso mesclar as colunas com o dataframe

In [19]:
dataframe_empresa.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22'], dtype='object')

In [20]:
dataframe_empresa.columns = colunas_dataframe['id']
dataframe_empresa.head()

# Cada index da coluna_dataframe bate com a coluna do dataframe_empresa, os dados e colunas infelizmente vem em dicionarios separados.
# http://dados.recife.pe.gov.br/datastore/dump/87fc9349-312c-4dcb-a311-1c97365bd9f5?format=json'

id,_id,cnpj,razao_social,nome_fantasia,cod_logradouro,nome_logradouro,numero_residencia,numero_lote,cod_bairro,nome_bairro,situacao_empresa,data_abertura_empresa,data_encerramento,cod_grupo,nome_grupo,cnae,desc_atividade,atividade_principal,atividade_vig_sanitaria,atividade_predominante,incomodo,latitude,longitude
0,220,35319136000143,COMERCIAL ATACADISTA DE ALIMENTOS SAO JORGE LTDA,ATACADO SAO JORGE,25577,Rua Expedicionário Francisco Vitoriano,50,50,884,COHAB,BAIXADO,1990-05-02T00:00:00,2022-07-07T00:00:00,26,OUTRAS ATIVIDADES VAREJISTAS,4712100,"COM VAR DE MERC EM GERAL, COM PREDOM DE PROD ALIM - MINIMERC, MERC E ARMAZÉNS",S,N,N,N,-8.14,-34.95
1,221,35319136000143,COMERCIAL ATACADISTA DE ALIMENTOS SAO JORGE LTDA,ATACADO SAO JORGE,25577,Rua Expedicionário Francisco Vitoriano,50,50,884,COHAB,BAIXADO,1990-05-02T00:00:00,2022-07-07T00:00:00,26,OUTRAS ATIVIDADES VAREJISTAS,4772500,"COMÉRCIO VAREJISTA DE COSMÉTICOS, PRODUTOS DE PERFUMARIA E DE HIGIENE PESSOAL",N,S,N,N,-8.14,-34.95
2,222,20352255000120,DESALIEL VIEIRA DA SILVA ME,VIEIRA & SOUSA,25577,Rua Expedicionário Francisco Vitoriano,50,50,884,COHAB,BAIXADO,2014-05-30T00:00:00,2016-01-01T00:00:00,26,OUTRAS ATIVIDADES VAREJISTAS,4751201,Comercio varejista especializado de equipamentos e suprimentos de informatica,N,N,N,N,-8.14,-34.95
3,223,20352255000120,DESALIEL VIEIRA DA SILVA ME,VIEIRA & SOUSA,25577,Rua Expedicionário Francisco Vitoriano,50,50,884,COHAB,BAIXADO,2014-05-30T00:00:00,2016-01-01T00:00:00,26,OUTRAS ATIVIDADES VAREJISTAS,4761003,COMÉRCIO VAREJISTA DE ARTIGOS DE PAPELARIA,N,N,N,N,-8.14,-34.95
4,224,20352255000120,DESALIEL VIEIRA DA SILVA ME,VIEIRA & SOUSA,25577,Rua Expedicionário Francisco Vitoriano,50,50,884,COHAB,BAIXADO,2014-05-30T00:00:00,2016-01-01T00:00:00,26,OUTRAS ATIVIDADES VAREJISTAS,4741500,COMÉRCIO VAREJISTA DE TINTAS E MATERIAIS PARA PINTURA,N,N,N,S,-8.14,-34.95

# Verificando coluna por coluna
A ideia é validar cada coluna se tem valores faltantes, duplicados (se a regra de negócio pedir) ou se a coluna está com o tipo errado.

- [x] **id (int)**
- [ ] **cnpj (text)**
- [ ] **razao_social (text)**
- [ ] **nome_fantasia (text)**
- [ ] **cod_logradouro (numeric)**
- [ ] **nome_logradouro (text)**
- [ ] **numero_residencia (text)**
- [ ] **numero_lote (text)**
- [ ] **cod_bairro (numeric)**
- [ ] **nome_bairro (text)**
- [ ] **situacao_empresa (text)**
- [ ] **data_abertura_empresa (timestamp)**
- [ ] **data_encerramento (text)**
- [ ] **cod_grupo (numeric)**
- [ ] **nome_grupo (text)**
- [ ] **cnae (numeric)**
- [ ] **desc_atividade (text)**
- [ ] **atividade_principal (text)**
- [ ] **atividade_vig_sanitaria (text)**
- [ ] **atividade_predominante (text)**
- [ ] **incomodo (text)**
- [ ] **latitude (numeric)**
- [ ] **longitude (numeric)**

### Informações do conjunto de dados

In [21]:
dataframe_empresa.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 5001 entries, 0 to 5000
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      5001 non-null   int64
 1   cnpj                     5001 non-null   object
 2   razao_social             5001 non-null   object
 3   nome_fantasia            3448 non-null   object
 4   cod_logradouro           5001 non-null   int64
 5   nome_logradouro          5001 non-null   object
 6   numero_residencia        1912 non-null   object
 7   numero_lote              5001 non-null   object
 8   cod_bairro               5001 non-null   int64
 9   nome_bairro              5001 non-null   object
 10  situacao_empresa         5001 non-null   object
 11  data_abertura_empresa    5001 non-null   object
 12  data_encerramento        5001 non-null   object
 13  cod_grupo                5001 non-null   int64
 14  nome_grupo               5001 non-null   object
 15  cnae                     5001 non-null   int64
 16  desc_atividade           5001 non-null   object
 17  atividade_principal      5001 non-null   object
 18  atividade_vig_sanitaria  5001 non-null   object
 19  atividade_predominante   5001 non-null   object
 20  incomodo                 5001 non-null   object
 21  latitude                 5001 non-null   float64
 22  longitude                5001 non-null   float64
dtypes: float64(2), int64(5), object(16)
memory usage: 937.7+ KB

### Verificando tipo de cada coluna

In [22]:
dataframe_empresa.dtypes

id
_id                          int64
cnpj                        object
razao_social                object
nome_fantasia               object
cod_logradouro               int64
nome_logradouro             object
numero_residencia           object
numero_lote                 object
cod_bairro                   int64
nome_bairro                 object
situacao_empresa            object
data_abertura_empresa       object
data_encerramento           object
cod_grupo                    int64
nome_grupo                  object
cnae                         int64
desc_atividade              object
atividade_principal         object
atividade_vig_sanitaria     object
atividade_predominante      object
incomodo                    object
latitude                   float64
longitude                  float64
dtype: object

### Verificando coluna por coluna

In [23]:
# Primeira coluna -> _id

dataframe_empresa['_id'].isna().value_counts()
# False -> 67
dataframe_empresa['_id'].isnull().value_counts()
# False -> 67
dataframe_empresa['_id'].duplicated().value_counts()
# False -> 67

""" 
Espera-se que o id seja do tipo inteiro
"""

dataframe_empresa['_id'].dtype
# dtype('int64')

dataframe_empresa['_id'].unique()

dataframe_empresa['_id'].dtype

dtype('int64')

In [24]:
# Segunda coluna -> cnpj

dataframe_empresa['cnpj'].isna().value_counts()
# False -> 67
dataframe_empresa['cnpj'].isnull().value_counts()
# False -> 67
dataframe_empresa['cnpj'].duplicated().value_counts()

# True -> 42
# False -> 25

# Retornou 42 cnpj duplicados, vamos entender o porquê

dataframe_empresa[dataframe_empresa['cnpj'].duplicated()]
dataframe_empresa['cnpj'].dtype

dtype('O')

### Pegarei alguns cnpj especificos para entender 13800569000183

In [25]:
dataframe_empresa.query("cnpj == '58478889000105'")

Empty DataFrame
Columns: [_id, cnpj, razao_social, nome_fantasia, cod_logradouro, nome_logradouro, numero_residencia, numero_lote, cod_bairro, nome_bairro, situacao_empresa, data_abertura_empresa, data_encerramento, cod_grupo, nome_grupo, cnae, desc_atividade, atividade_principal, atividade_vig_sanitaria, atividade_predominante, incomodo, latitude, longitude]
Index: []

In [26]:
dataframe_empresa.query("cnpj == '02076111000107'")

Empty DataFrame
Columns: [_id, cnpj, razao_social, nome_fantasia, cod_logradouro, nome_logradouro, numero_residencia, numero_lote, cod_bairro, nome_bairro, situacao_empresa, data_abertura_empresa, data_encerramento, cod_grupo, nome_grupo, cnae, desc_atividade, atividade_principal, atividade_vig_sanitaria, atividade_predominante, incomodo, latitude, longitude]
Index: []

In [27]:
dataframe_empresa.query("cnpj == '13800569000183'")

Empty DataFrame
Columns: [_id, cnpj, razao_social, nome_fantasia, cod_logradouro, nome_logradouro, numero_residencia, numero_lote, cod_bairro, nome_bairro, situacao_empresa, data_abertura_empresa, data_encerramento, cod_grupo, nome_grupo, cnae, desc_atividade, atividade_principal, atividade_vig_sanitaria, atividade_predominante, incomodo, latitude, longitude]
Index: []

### Exceto MEI (Microempreendedor Individual) que pode ter um CNAE (código nacional de atividade empresarial) principal e 15 secundários, os demais tipos de empresa podem ter um CNAE principal e 99 secundários.

Fonte: https://www.contabilizei.com.br/contabilizei-responde/quantos-cnaes-pode-ter-uma-empresa/?utm_source=chatgpt.com

### Verificando valores unicos para ver se tem um comportamento inesperado

In [28]:
cnpj_com_letras = dataframe_empresa.loc[
    dataframe_empresa['cnpj'].str.contains(r'[^0-9]', na=False),
    'cnpj'
]
print(cnpj_com_letras)

17      679d463adf3476fb27c6575b1ca8c9645fdc55e8cc083c8e
18      ce84159011b11fb16cd8f9d64bc74dd35fdc55e8cc083c8e
19      7a1016030429115964945fd0870dffa55fdc55e8cc083c8e
20                                      ef7c28980bb415a2
21      6dfb8956633cf19b64945fd0870dffa55fdc55e8cc083c8e
22      4ebbe404e21abae8aaf92ff904c972355fdc55e8cc083c8e
23      a2fc093ace87c39363b2d2641defd70f5fdc55e8cc083c8e
24      eea47fe1d2b1cb1163b2d2641defd70f5fdc55e8cc083c8e
25                                      27bdd4a9245c8ebc
26                      de768a380bb9a2ce75234379af146d63
27      a765593fd0b031ad7ded9c546dc5f6f55fdc55e8cc083c8e
28      8aca705689b8e11d84d461e46a2eeb4e5fdc55e8cc083c8e
29      4da9f4d2676e563b6cd8f9d64bc74dd35fdc55e8cc083c8e
30      a976e10e8348e98628f5ac1dcb34cf655fdc55e8cc083c8e
31                      b7b698532ce62c7775234379af146d63
32      77e65fea61f88c4964945fd0870dffa55fdc55e8cc083c8e
33      61a647312e79e76ce6c87e85f210d1d05fdc55e8cc083c8e
34      8544ead7b896be03aaf92ff904c972355fdc55e8cc083c8e
35                      d7d7f01a5459793d0246e2b93c1bf25c
36      a311455066a4e3dc7ded9c546dc5f6f55fdc55e8cc083c8e
37                      fdd32209285cd8b4cd124eb8021f7dca
38      769621005bd6c603aaf92ff904c972355fdc55e8cc083c8e
39      742125cdc4b83bad27c6575b1ca8c9645fdc55e8cc083c8e
40      9c259c0cb8fa927927c6575b1ca8c9645fdc55e8cc083c8e
41      5a10e0c736cde5a0e6c87e85f210d1d05fdc55e8cc083c8e
42      0d1a917465643a4a28f5ac1dcb34cf655fdc55e8cc083c8e
43      0a56b51b6ebac8c3aaf92ff904c972355fdc55e8cc083c8e
44      3172df0c99a0c87327c6575b1ca8c9645fdc55e8cc083c8e
45      7bfdd76ee68496a664c8928445d44fe85fdc55e8cc083c8e
46      a795630d01e44cbc63b2d2641defd70f5fdc55e8cc083c8e
47      2d995fd89e3f41c27ded9c546dc5f6f55fdc55e8cc083c8e
48                                      861a477e3db51886
49      a96368831d9aa87ec723701e5049195e5fdc55e8cc083c8e
50                                      1498b0b98a21c36f
51      80e5d40871320f2fe6c87e85f210d1d05fdc55e8cc083c8e
52      6a39bf52e1962de464945fd0870dffa55fdc55e8cc083c8e
53      459182cabe3eaab67ded9c546dc5f6f55fdc55e8cc083c8e
54      459182cabe3eaab67ded9c546dc5f6f55fdc55e8cc083c8e
55      30cb28d869aa499a27c6575b1ca8c9645fdc55e8cc083c8e
527                                     c9a15d2d46bc0937
528                     3059f3956f26d3ca18d3fc4836304ca5
935     fe4b5e10e5ee1fd927c6575b1ca8c9645fdc55e8cc083c8e
1285    b08bf338cfb172d327c6575b1ca8c9645fdc55e8cc083c8e
2014    880a7c29adf558bd7ded9c546dc5f6f55fdc55e8cc083c8e
3383    2c8ed3107835dee828f5ac1dcb34cf655fdc55e8cc083c8e
3384    50333f871c53304a63b2d2641defd70f5fdc55e8cc083c8e
Name: cnpj, dtype: object

### Infelizmente esse conjunto de dados contém cnpj com registros em hash, irei considerar isso como um ruído e separar em outro dataset

In [29]:
dataframe_empresa[dataframe_empresa['cnpj'].isin(cnpj_com_letras)].to_csv(
    '../../data/csv/raw/EmpresasInativasComHash.csv', index=False
)
dataframe_empresa = dataframe_empresa[~dataframe_empresa['cnpj'].isin(cnpj_com_letras)]

dataframe_empresa.head()

id,_id,cnpj,razao_social,nome_fantasia,cod_logradouro,nome_logradouro,numero_residencia,numero_lote,cod_bairro,nome_bairro,situacao_empresa,data_abertura_empresa,data_encerramento,cod_grupo,nome_grupo,cnae,desc_atividade,atividade_principal,atividade_vig_sanitaria,atividade_predominante,incomodo,latitude,longitude
0,220,35319136000143,COMERCIAL ATACADISTA DE ALIMENTOS SAO JORGE LTDA,ATACADO SAO JORGE,25577,Rua Expedicionário Francisco Vitoriano,50,50,884,COHAB,BAIXADO,1990-05-02T00:00:00,2022-07-07T00:00:00,26,OUTRAS ATIVIDADES VAREJISTAS,4712100,"COM VAR DE MERC EM GERAL, COM PREDOM DE PROD ALIM - MINIMERC, MERC E ARMAZÉNS",S,N,N,N,-8.14,-34.95
1,221,35319136000143,COMERCIAL ATACADISTA DE ALIMENTOS SAO JORGE LTDA,ATACADO SAO JORGE,25577,Rua Expedicionário Francisco Vitoriano,50,50,884,COHAB,BAIXADO,1990-05-02T00:00:00,2022-07-07T00:00:00,26,OUTRAS ATIVIDADES VAREJISTAS,4772500,"COMÉRCIO VAREJISTA DE COSMÉTICOS, PRODUTOS DE PERFUMARIA E DE HIGIENE PESSOAL",N,S,N,N,-8.14,-34.95
2,222,20352255000120,DESALIEL VIEIRA DA SILVA ME,VIEIRA & SOUSA,25577,Rua Expedicionário Francisco Vitoriano,50,50,884,COHAB,BAIXADO,2014-05-30T00:00:00,2016-01-01T00:00:00,26,OUTRAS ATIVIDADES VAREJISTAS,4751201,Comercio varejista especializado de equipamentos e suprimentos de informatica,N,N,N,N,-8.14,-34.95
3,223,20352255000120,DESALIEL VIEIRA DA SILVA ME,VIEIRA & SOUSA,25577,Rua Expedicionário Francisco Vitoriano,50,50,884,COHAB,BAIXADO,2014-05-30T00:00:00,2016-01-01T00:00:00,26,OUTRAS ATIVIDADES VAREJISTAS,4761003,COMÉRCIO VAREJISTA DE ARTIGOS DE PAPELARIA,N,N,N,N,-8.14,-34.95
4,224,20352255000120,DESALIEL VIEIRA DA SILVA ME,VIEIRA & SOUSA,25577,Rua Expedicionário Francisco Vitoriano,50,50,884,COHAB,BAIXADO,2014-05-30T00:00:00,2016-01-01T00:00:00,26,OUTRAS ATIVIDADES VAREJISTAS,4741500,COMÉRCIO VAREJISTA DE TINTAS E MATERIAIS PARA PINTURA,N,N,N,S,-8.14,-34.95

In [30]:
# Terceira coluna -> nome_fantasia

dataframe_empresa['nome_fantasia'].isna().value_counts()

# False -> 52
# True -> 7


# Retornou algumas empresas com Nan
# Irei substituir Nan por "não informado"
texto_nao_informado = 'Não informado'

dataframe_empresa['nome_fantasia'] = dataframe_empresa['nome_fantasia'].replace('.', texto_nao_informado)
dataframe_empresa['nome_fantasia'] = dataframe_empresa['nome_fantasia'].fillna(texto_nao_informado)
dataframe_empresa[dataframe_empresa['nome_fantasia'].isna()] # Não existe mais NaN
dataframe_empresa['nome_fantasia'] = dataframe_empresa['nome_fantasia'].str.title() # Formatação para apenas a primeira letra da palavra ficar maiuscula
dataframe_empresa['nome_fantasia'].unique()
dataframe_empresa['nome_fantasia'].isnull().value_counts()

# False -> 59

dataframe_empresa['nome_fantasia'].duplicated().value_counts()

# True -> 46 
# False -> 13

dataframe_empresa[['nome_fantasia', 'cnpj', 'cnae']].duplicated().value_counts() # verificando se existe cnpj com cnae e nome duplicado

# False -> 59
dataframe_empresa['nome_fantasia'].dtype

dtype('O')

In [31]:
# Quarta coluna -> cod_logradouro

dataframe_empresa['cod_logradouro'].isna().value_counts()

# # False -> 59

dataframe_empresa['cod_logradouro'].unique()
dataframe_empresa['cod_logradouro'].isnull().value_counts()

# False -> 59

dataframe_empresa['cod_logradouro'].duplicated().value_counts()

# True -> 49 
# False -> 10
dataframe_empresa[['cod_logradouro', 'cnpj', 'cnae']].duplicated().value_counts()
# False -> 59
dataframe_empresa['cod_logradouro'].dtype

dtype('int64')

In [32]:
# Quinta coluna -> nome_logradouro

dataframe_empresa['nome_logradouro'].isna().value_counts()

# False -> 59

dataframe_empresa['nome_logradouro'].unique()
dataframe_empresa['nome_logradouro'] = dataframe_empresa['nome_logradouro'].str.title()
dataframe_empresa['nome_logradouro'].unique()

dataframe_empresa['nome_logradouro'].isnull().value_counts()

# False -> 59

dataframe_empresa['nome_logradouro'].duplicated().value_counts()

# True -> 49 
# False -> 10

dataframe_empresa[['nome_logradouro', 'cnpj', 'cnae']].duplicated().value_counts()
# False -> 59

dataframe_empresa['nome_logradouro'].dtype

dtype('O')

In [33]:
# Sexta coluna -> numero_residencia

dataframe_empresa['numero_residencia'].isna().value_counts()

# True -> 35
# False -> 24

dataframe_empresa[dataframe_empresa['numero_residencia'].isna()]
dataframe_empresa['numero_residencia'] = dataframe_empresa['numero_residencia'].fillna('Não informado')
dataframe_empresa['numero_residencia'].unique()
dataframe_empresa['numero_residencia'].unique()
dataframe_empresa['numero_residencia'].isnull().value_counts()

# False -> 59

dataframe_empresa['numero_residencia'].duplicated().value_counts()

# True -> 55 
# False -> 4

dataframe_empresa[dataframe_empresa['numero_residencia'].duplicated()]

dataframe_empresa[['numero_residencia', 'cnpj', 'cnae']].duplicated().value_counts()
# False -> 59

dataframe_empresa['numero_residencia'].dtype

dtype('O')